@media (max-width: 575.98px) {
    
    /* Menu de navegação superior */
   
    #botao-oculto{
        border: 1px solid white;
        color: white;
        padding-right: 31px;
        padding-top: 10px;
        font-size: 16px;
    }

    .navegador{
        height: 214px;
    }
    
     /* Primeira section */

     .caixa-1{
        padding-left: 20px;
     }

     #nomePrincipal{
        font-size: 24px;
        text-align: center;
     }

     #nomeDesenvolvedor{
        font-size: 20px;
        text-align: center;
     }

     .botaoLinkedin{
        width: 180px;
        margin-left: 68px;
     }

     .botaoGithub{  
        width: 180px;
        margin-top: 30px;
        margin-left: 68px;
     }

     .trabalhando{
        width: 320px;
        height: 180px;
    }


    /* Terceira section */

    .terceiroBloco{
        height: 540px;
    }

    /* Rodapé */

    .nomeFooter{
        font-size: 18px;
    }


 }

 @media (min-width: 576px) and (max-width: 767.98px) {

    /* Primeira section */


    #nomePrincipal{
        font-size: 28px;
        text-align: center;
     }

     #nomeDesenvolvedor{
        font-size: 22px;
        text-align: center;
     }


    .botaoLinkedin{
        width: 340px;
        margin-right: -20px;
     }

     .botaoGithub{  
        width: 340px;
        margin-top: 30px;
        
     }

    .trabalhando{
    width: 452px;
    }

}

 

@media (min-width: 768px) and (max-width: 991.98px) {

    /* Primeira section */
    
    .botaoLinkedin{
        margin-left: 20px;
     }

    /* Terceira section */

    .terceiroBloco{
        height: 520px;
    }

 }

@media (min-width: 992px) and (max-width: 1199.98px) {

    /* Primeira section */

    .trabalhando{
        width: 470px;
    }

    .nome{
        padding-left: 60px;
    }

    .botaoLinkedin{
        margin-left: 86px;
        margin-right: 10px;
    }

}

@media (min-width: 1200px) { 

    /* Primeira section */

    .trabalhando{
        width: 576px;
    }

    /* Primeira section */
    
    .botaoLinkedin{
        margin-left: 20px;
     }

}